body {
    background-color: lightgray;
    width:auto;
    font-family: 'Ubuntu', sans-serif;
}

table {
    margin-bottom: 100px;
}

th {
    color: #fd7e14;
    border-radius: 1px;
}

td {
  vertical-align: middle;
    text-align: center;
    color: #0dcaf0;
    border-radius: 1px;
}

#form2{
    top: 5px;
    position: relative;
    bottom: 5px;
}

.container{
    flex-direction: column;
}


